@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.text__purple {
  color: rgb(100 21 255);
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

p {
  line-height: 1.625;
}

/* NAV BAR */

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px 0 48px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo:hover .logo__name {
  color: rgb(100 21 255);
}

.logo__img {
  width: 40px;
  margin-right: 12px;
}

.logo__name {
  font-size: 24px;
  font-weight: bold;
  color: black;
  transition: all 500ms ease;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  position: relative;
  transition: all 300ms ease;
}

.nav__link::after {
  content: "";
  margin: 0 24px;
  position: absolute;
  height: 2px;
  display: block;
  background-color: rgb(100 21 255);
  bottom: -6px;
  width: 100%;
  opacity: 0;
  transition: all 300ms ease;
  color: rgb(100 21 255);
  transition: all 300ms ease;
  cursor: not-allowed;
}

.nav__link:hover {
  color: rgb(100 21 255);
  transition: all 400ms ease;
  cursor: not-allowed;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link--primary {
  padding: 12px 32px;
  border-radius: 2000px;
  background-color: rgb(100 21 255);
  color: white;
  margin: 0px;
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  background-color: rgb(84, 19, 215);
  text-decoration: none;
  color: white;
}

/* HEADER */

.header__container {
  padding: 80px 60px;
  display: flex;
  align-items: center;
}

.header__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__text {
  width: 40%;
}

.header__text--heading {
  font-size: 40px;
}

.header__text--para {
  margin: 32px 0;
}

.header__text--text {
  color: rgb(160 174 192);
  font-size: 12px;
  font-weight: bold;
  margin-top: 80px;
}

.header__form {
  max-width: 340px;
  position: relative;
}

.header__form--input {
  width: 100%;
  padding: 20px 32px;
  border-radius: 2000px;
  border: solid 2px rgb(226, 232, 240);
  transition: all 300ms ease;
}

.header__form--input:hover {
  border: solid 2px rgb(174, 175, 177);
}

.header__form--button {
  width: 160px;
  font-size: 16px;
  font-weight: bold;
  margin: 8px;
  padding: 12px 0;
  background-color: rgb(100 21 255);
  color: white;
  border-radius: 200px;
  position: absolute;
  right: 0;
  border: none;
  transition: all 300ms ease;
}

.header__form--button:hover {
  background-color: rgb(79, 18, 201);
  cursor: not-allowed;
}

.header__text--companies {
  width: 100%;
  margin: 16px 0 0 0;
  padding-right: 80px;
  opacity: 0.6;
}

.header__img {
  width: 100%;
  max-width: 768px;
}

/* FEATURES */

.features__container {
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__h2 {
  font-size: 16px;
  margin-bottom: 16px;
}

.features__title {
  font-size: 48px;
  font-weight: 800;
}

.features__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  max-width: 800px;
}

.features {
  width: calc(100% / 3);
  padding: 32px 8px;
  display: flex;
}

.features__img {
  padding: 20px;
  border: solid 1px rgb(224, 224, 224);
  border-radius: 2000px;
  color: rgb(100 21 255);
}

.features__text {
  margin: 8px 0 0 16px;
}

.features__heading {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.features__para {
  font-size: 16px;
  text-align: left;
  margin-top: 16px;
  max-width: 556px;
  color: rgb(124 139 161);
}

/* QUALITY */

.quality__container {
  display: flex;
  padding: 80px 60px;
  align-items: center;
}

.quality__description {
  width: 60%;
  padding-right: 20px;
}

.quality__h2 {
  font-size: 14px;
}

.quality__heading {
  font-size: 40px;
  font-weight: 900;
  margin-top: 16px;
}

.quality__para {
  margin-top: 14px;
  color: rgb(124 139 161);
}

.quality__button,
.values__button {
  margin-top: 32px;
  padding: 12px 32px;
  border-radius: 2000px;
  background-color: rgb(100 21 255);
  color: white;
  border: none;
  font-weight: bold;
  transition: all 300ms ease;
  font-size: 14px;
}

.quality__button:hover, .values__button:hover {
  background-color: rgb(84, 19, 215);
  cursor: not-allowed;
}

.quality__img {
  width: 100%;
  max-width: 640px;
}

/* STEPS */

.steps__container {
  display: flex;
  padding: 80px 60px;
  align-items: center;
}

.steps__img {
  width: 100%;
}

.steps__description {
  width: 60%;
  padding-left: 44px;
}

.steps__subheading {
  font-size: 14px;
}

.steps__heading {
  font-size: 40px;
  margin-top: 16px;
  font-weight: 900;
}

.steps__wrapper {
  margin-top: 24px;
}

.steps {
  display: flex;
  margin-top: 24px;
}

.steps__number {
  font-size: 28px;
  color: rgb(208, 213, 221);
  margin-right: 16px;
}

.steps__text {
  max-width: 280px;
}

.steps__h6 {
  font-size: 18px;
  font-weight: 600;
}

.steps__para {
  font-size: 12px;
  color: rgb(133, 135, 138);
}

/* VALUES */

.values__container {
  padding: 80px 60px;
  display: flex;
  align-items: center;
}

.values__description {
  width: 60%;
  padding-right: 40px;
}

.values__subheading {
  font-size: 14px;
}

.values__heading {
  font-size: 40px;
  margin-top: 16px;
  font-weight: 900;
}

.values__text {
  font-size: 16px;
  margin-top: 28px;
  color: rgb(119, 120, 122);
}

.values__img {
  width: 100%;
  max-width: 640px;
}

.values__wrapper {
  display: flex;
  margin-top: 20px;
}

.values {
  margin-right: 24px;
}

.values__title {
  display: flex;
  align-items: center;
}

.dollar {
  background-color: rgba(84, 236, 142, 0.608);
  padding: 10px 12px;
  border-radius: 2000px;
  color:rgb(46, 134, 80);
}

.values__h2 {
  margin-left: 10px;
  font-size: 18px;
}

.values__para {
  margin-top: 14px;
  font-size: 14px;
  color: rgb(119, 120, 122)
}

.suitcase {
  background-color: rgb(252, 167, 167); 
  padding: 10px;
  border-radius: 2000px;
  color:rgb(244, 88, 88);
}

