@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.text__purple {
    color: rgb(100 21 255);
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* NAV BAR */

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px 0 48px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo:hover .logo__name {
    color: rgb(100 21 255);
}

.logo__img {
    width: 40px;
    margin-right: 12px;
}

.logo__name {
    font-size: 24px;
    font-weight: bold;
    color: black;
    transition: all 300ms ease;
}

.nav__links {
    display: flex;
}

.nav__link {
    position: relative;
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    transition: all 300ms ease;
    text-decoration: none;
}

.nav__link::after {
    margin: 0 24px;
    content: "";
    position: absolute;
    bottom: -6px;
    height: 2px;
    width: 100%;
    display: block;
    opacity: 0;
    background-color: rgb(100 21 255);
    transition: all 300ms ease;
}

.nav__link:hover {
    color: rgb(100 21 255);
    cursor: not-allowed;
}

.nav__link:hover::after {
    opacity: 1;
}

.nav__link--primary {
    font-size: 14px;
    font-weight: 600;
    padding: 12px 32px;
    border-radius: 2000px;
    background-color: rgb(81, 59, 125);
    color: white;
    margin: 0px;
}

.nav__link--primary:hover {
    background-color: rgb(84, 19, 215);
    transition: all 300ms ease;
    text-decoration: none;
    color: white;
}

/* HEADER */

.header__container {
    padding: 96px 48px;
}

.header__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__text {
    width: 40%;
}

.header__text--heading {
    font-size: 40px;
}

.header__text--para {
    margin: 32px 0;
}

.header__text--text {
    color: rgb(160 174 192);
    font-size: 12px;
    font-weight: bold;
    margin-top: 80px;
}

.header__form {
    width: 100%;
    max-width: 360px;
    position: relative;
}

.header__form--input {
    width: 100%;
    padding: 20px 32px;
    border-radius: 2000px;
    border: solid 2px rgb(226, 232, 240);
    transition: all 300ms ease;
}

.header__form--input:hover {
    border: solid 2px rgb(174, 175, 177);
}

.header__form--button {
    width: 160px;
    font-size: 16px;
    font-weight: bold;
    margin: 8px;
    padding: 12px 0;
    background-color: rgb(100 21 255);
    color: white;
    border-radius: 200px;
    position: absolute;
    right: 0;
    border: none;
    transition: all 300ms ease;
}

.header__form--button:hover {
    background-color: rgb(79, 18, 201);
    cursor: not-allowed;
}

.header__text--companies {
    width: 100%;
    margin: 16px 0 0 0;
    padding-right: 80px;
    opacity: 0.6;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

/* FEATURES */

.features__container {
    padding: 96px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__h2 {
    font-size: 16px;
    margin-bottom: 16px;
}

.features__heading {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.features__para {
    font-size: 16px;
    text-align: center;
    margin-top: 16px;
    max-width: 556px;
    color: rgb(124 139 161);
}

.features__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    max-width: 800px;
}

.features {
    width: calc(100% / 3);
    padding: 32px 8px;
}

.features__heading {
    font-size: 24px;
}
