@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: not-allowed;
}

li {
  list-style-type: none;
}

.text__purple {
  color: rgb(100 21 255);
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

p {
  line-height: 1.625;
}

/* NAV BAR */

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px 0 48px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo:hover .logo__name {
  color: rgb(100 21 255);
}

.logo__img {
  width: 40px;
  margin-right: 12px;
}

.logo__name {
  font-size: 24px;
  font-weight: bold;
  color: black;
  transition: all 500ms ease;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  position: relative;
  transition: all 300ms ease;
}

.nav__link::after,
.menu__link:after {
  content: "";
  margin: 0 24px;
  position: absolute;
  height: 2px;
  display: block;
  background-color: rgb(100 21 255);
  bottom: -6px;
  width: 100%;
  opacity: 0;
  transition: all 300ms ease;
  color: rgb(100 21 255);
  transition: all 300ms ease;
  cursor: not-allowed;
}

.nav__link:hover,
.menu__link:hover {
  color: rgb(100 21 255);
  transition: all 400ms ease;
  cursor: not-allowed;
}

.nav__link:hover::after,
.menu__link:hover::after {
  opacity: 1;
}

.nav__link--primary,
.menu__link--primary {
  padding: 12px 32px;
  border-radius: 2000px;
  background-color: rgb(100 21 255);
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: all 300ms ease;
}

.nav__link--primary {
  margin: 0 0 0 24px;
}

.nav__link--primary:hover,
.menu__link--primary:hover {
  background-color: rgb(84, 19, 215);
  text-decoration: none;
  color: white;
  cursor: not-allowed;
}

/* HEADER */

.header__container {
  padding: 80px 60px;
  display: flex;
  align-items: center;
}

.header__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__text {
  width: 40%;
}

.header__text--heading {
  font-size: 40px;
}

.header__text--para {
  margin: 32px 0;
}

.header__text--text {
  color: rgb(160 174 192);
  font-size: 12px;
  font-weight: bold;
  margin-top: 80px;
}

.header__form {
  max-width: 340px;
  position: relative;
}

.header__form--input {
  width: 100%;
  padding: 20px 32px;
  border-radius: 2000px;
  border: solid 2px rgb(226, 232, 240);
  transition: all 300ms ease;
}

.header__form--input:hover {
  border: solid 2px rgb(174, 175, 177);
}

.header__form--button {
  width: 160px;
  font-size: 16px;
  font-weight: bold;
  margin: 8px;
  padding: 12px 0;
  background-color: rgb(100 21 255);
  color: white;
  border-radius: 200px;
  position: absolute;
  right: 0;
  border: none;
  transition: all 300ms ease;
}

.header__form--button:hover {
  background-color: rgb(79, 18, 201);
  cursor: not-allowed;
}

.header__text--companies {
  width: 100%;
  margin: 16px 0 0 0;
  padding-right: 80px;
  opacity: 0.6;
}

.header__img {
  width: 100%;
  max-width: 768px;
}

/* FEATURES */

.features__container {
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__h2 {
  font-size: 16px;
  margin-bottom: 16px;
  letter-spacing: 0.5px;
}

.features__title {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.features__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  max-width: 800px;
}

.features {
  width: calc(100% / 3);
  padding: 32px 8px;
  display: flex;
}

.features__img {
  padding: 20px;
  border: solid 1px rgb(224, 224, 224);
  border-radius: 2000px;
  color: rgb(100 21 255);
}

.features__text {
  margin: 8px 0 0 16px;
}

.features__heading {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.features__para {
  font-size: 16px;
  text-align: left;
  margin-top: 16px;
  max-width: 556px;
  color: rgb(124 139 161);
}

/* QUALITY */

.quality__container {
  display: flex;
  padding: 80px 60px;
  align-items: center;
}

.quality__description {
  width: 60%;
  padding-right: 20px;
}

.quality__h2 {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.quality__heading {
  font-size: 40px;
  font-weight: 900;
  margin-top: 16px;
  letter-spacing: 0.5px;
}

.quality__para {
  margin-top: 14px;
  color: rgb(124 139 161);
}

.quality__button,
.values__button {
  margin-top: 32px;
  padding: 12px 32px;
  border-radius: 2000px;
  background-color: rgb(100 21 255);
  color: white;
  border: none;
  font-weight: bold;
  transition: all 300ms ease;
  font-size: 14px;
}

.quality__button:hover,
.values__button:hover {
  background-color: rgb(84, 19, 215);
  cursor: not-allowed;
}

.quality__img {
  width: 100%;
  max-width: 640px;
  border: solid 1px rgb(216, 218, 222);
  border-radius: 4px;
}

/* STEPS */

.steps__container {
  display: flex;
  padding: 80px 60px;
  align-items: center;
}

.steps__img {
  width: 100%;
}

.steps__description {
  width: 60%;
  padding-left: 44px;
}

.steps__subheading {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.steps__heading {
  font-size: 40px;
  margin-top: 16px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.steps__wrapper {
  margin-top: 24px;
}

.steps {
  display: flex;
  margin-top: 24px;
}

.steps__number {
  font-size: 28px;
  color: rgb(208, 213, 221);
  margin-right: 16px;
}

.steps__text {
  max-width: 280px;
}

.steps__h6 {
  font-size: 18px;
  font-weight: 600;
}

.steps__para {
  font-size: 12px;
  color: rgb(133, 135, 138);
}

/* VALUES */

.values__container {
  padding: 80px 60px;
  display: flex;
  align-items: center;
}

.values__description {
  width: 60%;
  padding-right: 40px;
}

.values__subheading {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.values__heading {
  font-size: 40px;
  margin-top: 16px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.values__text {
  font-size: 16px;
  margin-top: 28px;
  color: rgb(119, 120, 122);
}

.values__img {
  width: 100%;
  max-width: 640px;
}

.values__wrapper {
  display: flex;
  margin-top: 20px;
}

.values {
  margin-right: 24px;
}

.values__title {
  display: flex;
  align-items: center;
}

.dollar {
  background-color: rgba(84, 236, 142, 0.608);
  padding: 10px 12px;
  border-radius: 2000px;
  color: rgb(46, 134, 80);
}

.values__h2 {
  margin-left: 10px;
  font-size: 18px;
}

.values__para {
  margin-top: 14px;
  font-size: 14px;
  color: rgb(119, 120, 122);
}

.suitcase {
  background-color: rgb(252, 167, 167);
  padding: 10px;
  border-radius: 2000px;
  color: rgb(244, 88, 88);
}

/* PRICING PLANS */

.pricing__container {
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__subheader {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.pricing__header {
  font-size: 40px;
  margin-top: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.pricing__para {
  max-width: 526px;
  margin-top: 20px;
  color: rgb(119, 120, 122);
  font-weight: 500;
  text-align: center;
}

.plans__wrapper {
  display: flex;
  margin-top: 40px;
  width: 100%;
}

.plans {
  margin-right: 32px;
  border: solid 1px rgb(208, 213, 221);
  border-radius: 8px;
  width: calc(100% / 3);
}

.plan__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px rgb(208, 213, 221);
  padding: 32px 0;
}

.plan__name {
  font-size: 18px;
  font-weight: bold;
}

.plan__price {
  font-size: 44px;
  font-weight: bold;
  margin-top: 10px;
}

.plan__duration {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(174, 175, 177);
}

.plan__features {
  border-bottom: solid 1px rgb(208, 213, 221);
  padding: 32px;
}

.plan__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
  font-size: 14px;
  color: rgb(136, 139, 144);
}

.plan__target {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: black;
}

.plan__button {
  padding: 32px 64px;
}

.plans__button--personal,
.plans__button--business,
.plans__button--enterprise {
  padding: 16px 32px;
  border-radius: 2000px;
  width: 100%;
  border: none;
  font-size: 12px;
  font-weight: bold;
}

.plans__business {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 127, 234) 100%
  );
  color: white;
}

.plan__duration--business {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.plan__feature--business {
  color: white;
}

.plan__target--business {
  color: white;
}

.plans__button--personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: white;
}

.plans__button--business {
  background-color: white;
  color: rgb(100 21 255);
}

.plans__button--enterprise {
  color: white;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plans__button--personal:hover,
.plans__button--business:hover,
.plans__button--enterprise:hover {
  cursor: not-allowed;
}

/* TESTIMONIALS */

.testimonials__container {
  padding: 80px 60px;
  display: flex;
  align-items: center;
}

.testimonials__img {
  width: 100%;
}

.testimonials__description {
  max-width: 60%;
  padding-left: 60px;
}

.testimonials__subheading {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.testimonials__heading {
  font-size: 40px;
  margin-top: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.testimonials__text {
  font-size: 16px;
  margin-top: 28px;
  color: rgb(119, 120, 122);
}

.testimonials__wrapper {
  padding-top: 40px;
}

.stars {
  color: gold;
}

.testimonial__heading {
  margin-top: 14px;
  font-size: 18px;
}

.testimonial__para {
  font-size: 14px;
  color: rgb(78, 78, 78);
  font-weight: 500;
  margin-top: 14px;
}

.testimonial__slider {
  display: flex;
  margin-top: 36px;
  justify-content: space-between;
  align-items: center;
}

.testimonial__person {
  display: flex;
  align-items: center;
}

.testimonial__person--img {
  width: 60px;
  border-radius: 200px;
  margin-right: 16px;
}

.testimonial__person--name {
  font-size: 18px;
}

.testimonial__person--title {
  font-size: 14px;
  color: rgb(119, 120, 122);
}

.button__left,
.button__right {
  font-size: 18px;
  padding: 16px 18px;
  margin: 0 12px;
  color: rgb(100 21 255);
  background-color: rgb(237 242 247);
  border-radius: 2000px;
  border: none;
}

/* CTA */

.cta__container {
  padding: 80px 20px 100px 20px;
}

.cta__wrapper {
  display: flex;
  margin: 0 32px;
  justify-content: space-between;
  background-color: rgb(100 21 255);
  align-items: center;
  padding: 80px 50px;
  border-radius: 8px;
}

.cta__text {
  font-size: 28px;
  color: white;
  font-weight: 700;
  max-width: 440px;
}

.get__started {
  background-color: #f56565;
  color: white;
  font-size: 14px;
  padding: 18px 38px;
  margin-right: 30px;
  border: none;
  border-radius: 2000px;
  font-weight: bold;
  transition: all 300ms ease;
}

.get__started:hover {
  background-color: rgb(229 62 62);
  cursor: not-allowed;
}

.contact__us {
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 38px;
  border: solid 1px white;
  border-radius: 2000px;
  color: white;
  transition: all 300ms ease;
}

.contact__us:hover {
  background-color: white;
  color: rgb(100 21 255);
  cursor: not-allowed;
}

/* FOOTER */

.footer__container {
  display: flex;
  flex-direction: column;
  background-color: rgb(100 21 255);
  margin-top: 40px;
}

.footer__links--wrapper {
  display: flex;
  justify-content: space-between;
  margin: 70px 30px 0 30px;
  padding-bottom: 50px;
  border-bottom: solid 1px rgb(116 44 255);
}

.footer__link--title {
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer__link--list {
  display: flex;
  flex-direction: column;
}

.footer__link {
  color: white;
  font-size: 12px;
  margin-top: 12px;
  position: relative;
  width: fit-content;
}

.footer__link::after {
  content: "";
  position: absolute;
  height: 2px;
  display: block;
  background-color: white;
  bottom: -6px;
  width: 100%;
  opacity: 0;
  transition: all 300ms ease;
  color: rgb(100 21 255);
  transition: all 300ms ease;
}

.footer__link:hover::after {
  opacity: 1;
}

.footer__bottom {
  margin: 50px 30px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  width: 32px;
  margin-right: 8px;
}

.footer__logo--name {
  font-size: 18px;
  font-weight: 900;
  color: white;
  letter-spacing: 0.8px;
}

.footer__copyright {
  font-size: 14px;
  color: #cbd5e0;
}

.footer__social {
  background-color: white;
  color: black;
  border-radius: 2000px;
  margin-left: 14px;
  transition: all 300ms ease;
}

.facebook {
  padding: 8px 10px;
}

.twitter,
.youtube {
  padding: 8px;
}

.footer__social:hover {
  background-color: rgb(203 213 224);
  cursor: not-allowed;
}

/* HAMBURGER */

.btn__menu {
  background-color: transparent;
  font-size: 24px;
  text-align: center;
  display: none;
  color: rgb(36 62 99);
  border: none;
}

.btn__menu:hover {
  color:rgb(100 21 255)
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
  padding: 20px;
  margin: 20px 16px;
  border: solid 1px rgb(208, 213, 221);
  border-radius: 8px;
  max-height: 350px;
}

.menu--open .menu__backdrop {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: rgb(36 62 99);
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__link {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  position: relative;
  transition: all 300ms ease;
}

.menu__link:after {
  content: "";
  margin-left: 0px;
  position: absolute;
  height: 2px;
  display: block;
  background-color: rgb(100 21 255);
  bottom: -6px;
  width: 100%;
  opacity: 0;
  transition: all 300ms ease;
  color: rgb(100 21 255);
  transition: all 300ms ease;
  cursor: not-allowed;
}

/* MEDIA */

@media (max-width: 992px) {
  .btn__menu {
    display: block;
  }
  .nav__links {
    display: none;
  }
  .header__container{
    display: flex;
    justify-content: center;
  }
  .header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__text {
    max-width: 512px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__text--heading{
    font-size: 30px;
  }
  .header__form {
    max-width: 448px;
    width: 100%;
  }
  .header__text--text {
    margin-top: 44px;
  }
  .header__text--companies {
    margin: 0 auto;
    padding:20px 0;
  }
  .header__img {
    max-width: 512px;
    padding-top: 10px;
  }
  .features {
    width: calc(100% / 2);
    padding: 32px 24px;
  }
  .features__title {
    font-size: 40px;
    text-align: center;
  }
  .quality__heading{
    font-size: 34px;
  }
  .quality__description {
    width: 80%;
  }
  .steps__description {
    width: 90%;
  }
  .steps__heading {
    font-size: 34px;
  }
  .values__heading {
    font-size: 34px;
  }
  .values__description {
    width: 70%;
  }
  .values__wrapper {
    display: flex;
    flex-direction: column;
  }
  .pricing__header {
    text-align: center;
    font-size: 34px;
  }
  .plans__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .plans {
    max-width: 320px;
    width: 100%;
    margin-top: 40px;
  }
  .testimonials__heading {
    font-size: 34px;
  }
  .cta__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .cta__text {
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .features__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .features {
    max-width: 360px;
    width: 100%;
  }
  .quality__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .quality__img {
    max-width: 440px;
    margin-bottom: 30px;
  }
  .quality__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    text-align: center;
  }
  .steps__container {
    display: flex;
    flex-direction: column;
  }
  .steps__img {
    max-width: 440px;
    margin-bottom: 30px;
  }
  .steps__description {
    display: flex;
    flex-direction: column;
    padding:0;
    align-items: center;
    text-align: center;
  }
  .steps__wrapper {
    margin: 0;
  }
  .steps {
    display: flex;
    flex-direction: column;
  }
  .steps__number {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .steps__para {
    margin-top: 10px;
  }
  .values__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .values__img {
    max-width: 440px;
    margin-bottom: 30px;
  }
  .values__description{
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    text-align: center;
  }
  .values__wrapper {
    margin-top: 0;
  }
  .values {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    margin-right: 0;
  }
  .testimonials__container {
    display: flex;
    flex-direction: column;
  }
  .testimonials__img {
    max-width: 440px;
    margin-bottom: 36px;
  }
  .testimonials__description {
    max-width: 440px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__copyright {
    margin-bottom: 20px;
  }
  .facebook {
    margin: 0;
  }
}